<style>
  .success-message {
    border: 1px solid #c3e6cb;
    height: 40px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #155724;
    background-color: #d4edda;

  }
  .dashboard-success-message-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashboard-submit-button {
    background-color: #3B82F6;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
  }
  .dashboard-form-div{
    
  }
  .dashboard-form{
    display: flex;
    justify-content: center;
    align-items: center ;
  }
</style>
<div class="dashboard-main-div">
  <div class="dashboard-success-message-div">
    <p class="success-message">{{title}}</p>
  </div>
  <form [formGroup]="auditForm" (ngSubmit)="submitForm()" class="dashboard-form">
    <div class="dashboard-form-div">
      <span class="login-label"><label>
          Ward:
        </label></span>
      <input type="text" formControlName="ward" class="login-input-text" />
      <span class="login-label"><label>
        Text:
      </label></span>
    <input type="text" formControlName="text_input" class="login-input-text" />
    <div><button class="dashboard-submit-button"> Submit Form</button></div>
    </div>
    
  </form>
</div>